body {
  margin: 0;
  color: rgb(33, 10, 54);
  background: linear-gradient(
    45deg,
    rgb(186, 102, 255),
    rgb(141, 1, 255),
    rgb(98, 0, 255)
  );
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0 0;
    color: #fff;
    font: 600 2.3em "Quicksand", sans-serif;
    letter-spacing: 5px;
}
.hidden {
  display: none !important;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
}
.video-frame {
  position: relative;
}
.video {
  padding: 3.5em 0;
  width: 640px;
  height: 370px;
  box-shadow: 6px 6px 30px rgba(10, 0, 27, 0.432);
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .video {
    width: 350px;
    height: 270px;
  }
}

/* animation */
/* The animation code */
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* The element to apply the animation to */
.animate {
  animation-name: rotate;
  animation-duration: 1s;
}


#controls {
  display: none;
}

.video-control-box {
  border-radius: 20px;
  background-color: rgba(38, 0, 99, 0.288);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.buttons {
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  padding: 0.5em 1em;
  margin: 1em 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.548);
}
@media only screen and (max-width: 600px) {
    .buttons {
      width: 120px;
      font-size: .8em;
    }
  }
.icon {
    width: 1em;
    margin-left: .8em;
}
.play-icon-box {
  margin: 2.5em 0;
}
.play-icon {
  cursor: pointer;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.548);
}
.play-icon img {
  margin-left: 0.1em;
  width: 1.7em;
}
